{% extends 'dashboard.html.twig' %}

{% block title %}
  Gestion des Sections
{% endblock %}

{% block content %}
  <h1 class="bg-dark text-white p-3 rounded">Créer un nouveau club</h1>
  {{ include('club/_form.html.twig') }}
  <a href="{{ path('app_club_index') }}" class="btn btn-dark">Revenir à la liste</a>
{% endblock %}
