<!-- Ajoutez un canvas pour le graphique -->
<div class="row p-3">
<div class="col-md-12">
    <canvas id="ageChart"></canvas>
</div>
</div>
<!-- Ajoutez Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    var ctx = document.getElementById('ageChart').getContext('2d');
    var ageData = {{ AgeMoyenTable|json_encode|raw }};
    console.log('Age Data:', ageData);
    var clubLabels = [{% for club in clubs %}"{{ club.name }}",{% endfor %}];
    console.log('Club Labels:', clubLabels);

    var ageChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: clubLabels,
            datasets: [{
                label: 'Âge moyen par club',
                data: ageData,
                backgroundColor: 'rgba(75, 192, 192, 0.8)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    display: false
                }   
            },
            indexAxis: 'y',
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                x: {
                    ticks: {
                        display: false
                    }
                }
            }
        }
        
    });
</script>