{# templates/bundles/TwigBundle/Exception/error403.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
  Accès refusé
{% endblock %}

{% block body %}
  <h1>Accès refusé (403)</h1>

  <p>
    Vous n'avez pas l'autorisation d'accéder à cette page. Cliquez <a href="{{ path('app_index') }}">ici</a> pour revenir à l'accueil.
  </p>
{% endblock %}
