{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
  Erreur
{% endblock %}

{% block body %}
  <h1>Erreur 404</h1>

  <p>Une erreur inattendue s'est produite. Veuillez réessayer plus tard.</p>
{% endblock %}
